<form #f="ngForm" class="form-vertical well" (ngSubmit)="login(f)">
  <h2 class="text-center text-info">Login</h2>
  <div class="form-group">
    <label for="username">Username : </label>
    <input type="text" name="username" 
        class="form-control" 
        ngModel
        required
        minlength="6">
  </div>

  <div class="form-group">
    <label for="password">Password : </label>
    <input type="password" name="password" 
        class="form-control" 
        ngModel
        required>
  </div>

  <button type="submit" 
      class="btn btn-info btn-lg"
      [disabled]="!f.valid">
    Login
  </button>

  <button (click)="getData()" class="btn btn-default btn-lg">Get API data</button>

  <button (click)="postData()" class="btn btn-default btn-lg">Post API data</button>
</form>