<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Counter Value in App : {{userService.counter}}
    <hr>
  </h1>

  <button (click)="increase()">Increase</button>

  <div class="container">
    <app-signup></app-signup>
  </div>

  <div class="container">
    <app-signin></app-signin>
  </div>

  <div class="container">
      <app-pipe-demo></app-pipe-demo>
  </div>

  <app-user [users]="users" [xyz]="title" 
      (childEvent)="parentEvent($event)">
    <header>Header Info</header>
    <main class="main-class">Main Contents...</main>
    <footer>Footer Info</footer>
  </app-user>
 </div>
