<div>
<!-- <h1>{{ title }}</h1> -->

<h2>
    <ng-content select="header"></ng-content>
</h2>

<p>
    <ng-content select = ".main-class"></ng-content>
</p>

Child Control : 
<input type="text" (keyup)="onKeyUp(childControl.value)" #childControl>

<div class="container">
<ul class="list-unstyled">
    <li class="well" *ngFor="let user of users; index as i, even as isEven, odd as isOdd, first as isFirst, last as isLast">
        <div class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
                <!-- {{i}} Is Even ?{{ isEven }} is This First ? {{ isFirst }}  -->
                <img [src]="user.image" class="img-responsive img-circle">
                <br>
                <button (click)="moreInfo(user)"
                    class="btn btn-primary btn-sm">More Info</button>
            </div>
       
            <div class="col-md-8 col-sm-8">
                    <h1 appHighlight 
                        [defaultColor]="'blue'"
                        [newColor] = "'yellow'"
                        class="text-center text-primary">
                        {{ user.firstName }} {{ user.lastName}}
                    </h1>
                    <p [ngClass]="myClasses" [ngStyle]="bgColor">Date of Birth : {{ user.dob }}</p>
                    <p *ngIf="user.isWorking; else xyz">
                        Income : <span [innerHTML]="user.income"></span>
                    </p>

                    <em class="pull-right">Total Votes : {{user.vote}}</em>
                    <input type="number" 
                        [value]="user.vote" 
                        (change)="user.vote=$event.target.value">
                        
                    <input type="number" [(ngModel)]="user.vote">    
            </div>
       </div>

       <ng-template #xyz>
        {{ user.firstName }} is not working now!
       </ng-template>

    </li>
</ul>
</div>

</div>


<h2>
    <ng-content select="footer"></ng-content>
</h2>


<!-- <div [ngSwitch]="myNum">
    <div *ngSwitchCase="1">Output 1</div>
    <div *ngSwitchCase="2">Output 2</div>
    <div *ngSwitchCase="3">Output 3</div>
    <div *ngSwitchDefault>Default Output </div>
</div> -->